:root
{
--min-color :#FF9800;
}


body
{
    height: 7000px;
    font-family: 'Open Sans', sans-serif;
}

.container
{
    width: 1170px;
    margin: auto;
    overflow: hidden;
}

.nav--bulits
{
    position: fixed;
    right: 0;
    top :50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 10000;
    
}

.nav--bulits .bullet{

width: 15px;
height: 15px;
border: 3px solid var(--min-color);
border-radius:50% ;
margin-bottom: 10px;
position: relative;
cursor: pointer;
}
.show
{
    display:none;
}
.nav--bulits .bullet:hover .tooltip
{
display: block;
width: 100px;
}

.nav--bulits .bullet .tooltip
{
 background-color: var(--min-color); 
 color: white;
 padding: 4px 10px ;
 position: absolute;
 right:40px;
 top: 0; 
 z-index: 10000; 
 width: 0px;
 display: none;
 transition: 0.5s all ease-in;

}

.nav--bulits .bullet .tooltip::before
{
    content: "";
    position: absolute;
    right: -19px;
    top: 2px;
    border-style:solid ;
    border-width:10px;
    border-color: transparent transparent transparent var(--min-color);
    width: 1px;
    height: 1px;
    
}
.setting-box
{
    position: fixed;
    width: 200px;
    height: 100%;
    top:0;
    left:0;
    background-color: white;
    z-index: 6;
    transition: 0.3s all;
}

 .open
{
    left: -200px;
}
.option
{
    text-align: center;
    background-color: #EEE;
    margin: 5px;
    height: 130px;
    padding-top: 5px;
}
.setting-box .g1
{
    position: absolute;
    right: -40px;
    top:150px;
    width: 40px;
    height: 35px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    font-size: 20px;
;
}
.setting-container .colors
{
    list-style: none;
    padding-left: 0px;
}
.setting-container .colors li
{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.setting-container .colors li:first-child
{
background-color: #FF9800;
}
.setting-container .colors li:nth-child(2)
{
    background-color: red;
}
.setting-container .colors li:nth-child(3)
{
    background-color: blue;
}
.setting-container .colors li:nth-child(4)
{
    background-color:yellow ;
}
.setting-container .colors li:nth-child(5)
{
    background-color:green ;
}



.setting-container .backgroundRandom,.setting-container .TestOPtion
{
    text-align: center;
    background-color: #EEE;
    margin: 5px;
    height: 100px;
    padding-top: 5px;
}
.setting-container .backgroundRandom .btn-background-yes,
.setting-container .TestOPtion .btn-TestOPtion-yes,
.setting-container .TestOPtion .btn-TestOPtion-no,
.setting-container .backgroundRandom .btn-background-no
{

    display: inline-block;
    height: 20px;
    width: 50px;
    background-color:var(--min-color);
    border-radius: 5px;
    color: white;
    cursor: pointer;
  
}

.reset-btn
{
    background-color: var(--min-color);
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius:15px ;
    margin-left: 45px;
    cursor: pointer;
}
.close
{
    opacity: 0.5;
}
.landign-page
{
min-height: 100vh;
width: 100%;
background-image: url(../images/B1.png);
position: relative;
background-size: cover;
}

.landign-page .overlay
{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 , 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.header-area
{

position: relative;
z-index: 2;
display: flex;
flex-wrap: nowrap;
padding-top:40px;
color: white;
}

.header-area .logo
{
padding-left: 30px;
width: 500px;
font-weight: bold;

}


.header-area .link
{

    list-style: none;
    text-align: right;
    width: 100%;
    padding-right: 5px;
    margin-top: 0;
    padding-left: 0;
}
.header-area .link li
{
    display: inline-block;
    margin-left: 15px;

}
.header-area .link li a
{
    text-decoration: none;
    color: white;
}
.header-area .link li a:hover,
.header-area .link li a.active
{
    color: var(--min-color);
}

.landign-page .introduction-text
{
   
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.introduction-text h1
{
     font-size: 34px;
     margin: 0 0 15px;
}

.introduction-text h1 span
{
    color: var(--min-color);
}
.introduction-text p
{
    font-size: 20px;
    line-height: 1.6;
    margin: 0px;
}


/*======================== About Us ===================*/

.about-us
{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    height: 500px;


}
.about-us .about-info
{
width: 50%;
height: 100%;
padding: 30px;
padding-right: 100px;

}
.about-us .about-info h1
{
    color: var(--min-color);
}
.about-us .about-info p
{
    line-height: 25px;
    color: #777777;
}
.about-us .about-imag
{
    width: 50%;
    height: 100%;

}
.about-us .about-imag img
{
    width: 500px;
}



/*=====================Our Skills================*/


.our-skill
{
    width: 100%;
    height: 700px;
    padding-top: 100px;
    background-color: #EEE;

}

.our-skill .skill-title
{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #EEE
   
    ;
}

.our-skill .skill-title h1
{
    font-size: 50px;
    font-weight: 700;
    color: var(--min-color);
}

.our-skill .skill-title p
{
    line-height: 25px;
    color: #777777;
}

.our-skill .skill-Info
{
width: 100%;
height: 400px;
}

.our-skill .skill-Info .s1
{
    display: flex;
    height: 50px;
    background-color: white;
    padding-top: 15px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.our-skill .skill-Info .s1 .skill-name
{
    width: 75px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.our-skill .skill-Info .s1 .skill-procecce
{
    width: 100%;
    height: 40px;
    background-color: #DDD;
    border-radius: 10px;
    margin-bottom: 10px;

}


.our-skill .skill-Info .s1 .skill-procecce .s2
{
    background-color: var(--min-color);
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s all ease-in;

}

.our-skill .skill-Info .s1 .skill-procecce .openn
{
    width:50%;
}



/* =========================== Gallary=================*/




.gallary
{

width: 100%;
height: 500px;
padding-top: 100px;
padding-bottom: 50px;
}


.gallary h1
{
    font-size: 50px;
    font-weight: 700;
    color: var(--min-color); 
    text-align: center;
    margin-bottom: 60px;
}
.gallary .imag-box
{
    width: 100%;
    height: 100%;
}
.gallary .imag-box img
{
    width: 183px;
    padding: 3px;
background-color: #F6F6F6;
border: 1px solid #ccc;
cursor: pointer;
}

.popup-overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}


.popup-box
{

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 500px;
height: 450px;
background-color: white;

z-index: 1002;
padding-left:5px;
}

.popup-box img
{
    width: 95%;
    height: 85%;
    margin-top: -18px;
    border: 10px solid white;
}
.itemClose
{
    color:white;
    font-size: 15px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 100000;
    display: inline-block;
    cursor: pointer;
    background-color: #009688;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
   text-align: center;
 
}
.title1
{
    text-align: center;
    color: var(--min-color);
    font-size: 20px;
}



/*  timeline    */

.timeline
{
    width: 100%;
   
    background-color: #DDD;
    padding-top: 100px;
    position: relative;
    padding-bottom: 50px;
}

.timeline .time-content
{

padding-top: 20px;
height: 100%;


}

.timeline .time-content::before
{
    content: "";
    position: absolute;
    width: 2px;
    height:90% ;
    background-color: var(--min-color);
    left: 50%;
    top:50px;
    z-index: 1;

}

.timeline .time-content .time-year
{
position: relative;
    text-align: center;
    background-color: var(--min-color);
    color: white;
    margin: 20px auto;
    width: 50px;
    height: 20px;
    z-index: 3;
    border-radius:5px ;

}
.clear
{
    clear: both;
}
.timeline .time-content .left,
.timeline .time-content .right
{

width: calc(50% - 70px);
padding: 20px;
background-color: #FFF;
position: relative;
margin-bottom: 10px;


}



.timeline .time-content .right::before
{
content: "";
position: absolute;

width: 10px;
height: 10px;
background-color: white;
top: 20%;
left: -37px;
border-radius: 50%;
border: 3px solid var(--min-color);
z-index: 5;

}
.timeline .time-content .left::before
{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top:20%;
    right: -39px;
    border-radius: 50%;
    border: 3px solid var(--min-color);
    z-index: 5; 
}
.timeline .time-content .left .content::before
{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color:transparent transparent transparent white ;
    width: 0;
    height: 0;
    position: absolute;
    top: 19%;
    right: -20px;

}
.timeline .time-content .right .content::before
{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color:transparent white transparent transparent ;
    width: 0;
    height: 0;
    position: absolute;
    top: 19%;
    left: -20px;

}





.timeline .time-content .left
{
    float: left;
   
}
.timeline .time-content .right
{
    float:right;
   
}
.timeline .time-content .left h3,
.timeline .time-content .right h3
{

    color: var(--min-color);
}

.timeline .time-content .left p,
.timeline .time-content .right p 
{
    line-height: 1.6;
    color: #666;
}

/* Start Featur */

.featur
{
    padding-top: 70px;
    padding-bottom: 50px;
}

.featur .container h1
{
    font-size: 30px;
    font-weight: bold;
    color: var(--min-color);
    text-align: center;
    margin-bottom: 100px;
}

.featur .icon-items
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    
}

.featur .icon-content
{
   width: 32%;
   text-align: center;
   margin-bottom: 30px;
   margin-left: 10px;   
}

.featur .icon-content h3
{
    position: relative;
}
.featur .icon-content h3::after
{
    content: "";
    width: 40px;
    height: 3px;
    background-color: var(--min-color);
    display: block;
    position: absolute;
    top: 40px;
    left: 45%;
    margin-bottom: 20px;

}
.featur .icon-content img
{
    width: 100px;
}

.featur .icon-content p
{
    padding: 10px;
    margin-top: 30px;
}

/* Start Monials */



.testmonials
{

height: 600px;
position: relative;
}

.testmonials::before
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--min-color);
    height:100%;
    width: 50%;
    display: block;
    z-index: 1;
}
.testmonials::after
{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #666;
    height:100%;
    width: 50%;
    z-index: 1;
    display: block;  
}
.testmonials .container
{
    position: relative;
    padding-top: 100px;
    z-index: 5;
    height: 100%;
    width: 1170px;
    margin: 150 auto;

}

.testmonials .container .monials-box
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
  
   
}

.testmonials .container .monials-box h1
{
    margin-top: 100px;
    color: white;
}

.testmonials .container .monials-box .items-box-mon
{
    width: 31%;
    height: 250px;
    margin-right: 20px;
    float: left;
    background-color: #EEE;
}
.testmonials .container .monials-box .items-box-mon p
{
    margin-top: 25px;
    color: #666;
    line-height: 20px;
    padding: 15px;
}
.testmonials .container .monials-box .items-box-mon .content-box
{

float:right;
text-align: left;
width: 70%;
padding-top: 0;

}
.testmonials .container .monials-box .items-box-mon .content-box p
{
   
    color: #666;
   margin-top: 0px;
line-height: 0px;
}

.testmonials .container .monials-box .items-box-mon .content-box h3
{

    margin-bottom: 0px;
}
.testmonials .container .monials-box .items-box-mon .items-bx-img img
{
    border-radius: 50% ;
    margin-left: 10px;
}